<div class="bg-overlay-1 relative inline-flex w-full flex-wrap items-center rounded-sm">
  <input
    class="focus:outline-none h-6 w-0 flex-grow bg-transparent px-2 py-1 text-titles-and-attributes interactive box-content"
    data-test-selector="form-input"
    ...attributes
  />
</div>
