{{!-- template-lint-disable no-inline-styles --}}
<div class="relative flex flex-col" style="background-color: black;" ...attributes>
  <div class="flex items-center" style="color: white">
    <div class="w-full max-w-screen-2xl mx-auto">
      <div class="max-w-3xl p-10 sm:p-20">
        {{yield}}
      </div>
    </div>
  </div>
</div>
