<header class="sticky z-10 top-0" ...attributes>
  <Toucan::Link
    @href="#main"
    @variant="primary"
    class="-top-full absolute left-2 z-skip-to-content focus:top-2 print:hidden"
  >
    Skip to main
  </Toucan::Link>


  {{!-- template-lint-disable no-inline-styles --}}
  <div class="bg-surface-md shadow-md h-[60px] lg:h-[80px]">
    <div class="max-w-screen-2xl flex items-center justify-between mx-auto px-6 md:px-10 lg:px-20 h-full">
      <div class="hidden md:flex items-center gap-2 h-full">
        {{#if (has-block "logo")}}
          {{yield to="logo"}}

          <span>|</span>
        {{/if}}

        <Toucan::Link @variant="quiet" @href="/">
          <span class="uppercase type-xl" style="font-weight: bold;">
            {{yield to="title"}}
          </span>
        </Toucan::Link>
      </div>
      <div class="hidden sm:flex md:hidden items-center gap-2 h-full">
        <span class="uppercase type-xl" style="font-weight: bold;">
          {{yield to="title"}}
        </span>
      </div>


      <nav class="flex gap-2">
        {{yield to="links"}}
      </nav>
    </div>
  </div>
</header>
